.mainHeadline{
    color:darkgreen;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: center;
}

.subHeadline{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

p {
    line-height: 25px;
}

body.float > img {
    float: left;
}

a {
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.upperCase {
    text-transform: uppercase;
}

#wow {
    font-weight: bolder;
}